@{
    ViewData["Title"] = "Cooking";
}

<main class="main_Content">
    <div class="banner_home">
        <div class="banner_home--left">
            <div class="banner_image">
                <a href="#"><img src="~/images/mango_banner.png" alt="Alternate Text" /></a>
                <a href="#"><img src="~/images//banhdau_banner.png" alt="Alternate Text" /></a>
            </div>
            <div class="banner_contac">
                <div class="banner_phone">
                    <img src="~/icons/iconPhone.png" alt="Alternate Text" />
                    <div class="Banner_desc">
                        <p class="Banner_desc--phone">Đặt hàng ngay</p>
                        <p>0352733879</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner_home--right">
            <h1 class="Banner_title">BÁNH NGON <span>mỗi ngày</span></h1>
        </div>
    </div>
</main>