<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-between">
        <!-- Phần logo bên trái -->
        <a class="navbar-brand" href="/"><img src="~/images/logo_nav.png" /></a>

        <!-- Phần menu ở giữa -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 navbar__menu">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bánh sinh nhật</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bánh mì & bánh mặn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cookies & minicake</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bánh sinh nhật</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Khuyến mại</a>
                </li>
            </ul>
        </div>

        <!-- Phần giỏ hàng và user bên phải -->
        <div class="navbar-cart-user">
            <a href="#"><img src="~/icons/icon_gioihang.png" /></a>
            <a href="#"><img src="~/icons/iconUser.png" /></a>
        </div>
    </div>
</nav>
<script src="~/js/_header.js" asp-append-version="true"></script>

